
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


body {
    margin: 0px;
    pading: 25px;
    font-family: 'Raleway', sans-serif;
}

.logo {
   width: 100px;
}

.main {
    display:flex;
}

.menu {
    right: 0px;
    display: flex;
    
}

.rubriques {
    margin-right: 60px;
    float: right;
}

.main {
    justify-content: space-between;
}

input {
    height: 40px;
}

#where {
    color: black;
}

.localisation {
    height: 40px;
    width: 50px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

i {
    margin-top: 12px;
    margin-left: 20px;
    width: 40px;
    
}

.rechecher {
    height: 26px;
    width: 80px;
    background-color: #0065FC;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 12px;
    color: white;
    padding-left: 10px;
    padding-top: 14px;
}

.rechercher {
    background-color: #0065FC;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.content {
    display: flex;
}

.research {
    display: flex;
   
}
 
.filtres {
    display: flex;
    margin-top: 30px;
}

.bullescriteres {
    display: flex;
    height: 40px;
    border-radius: 40px;
    border-style: solid;
    border-width: 0.5px;
    margin-right: 10px;
    margin-left: 60px;
    background-color: white;
    padding-left: 0px;
    padding-right: 30px;
    margin-bottom: 10px;
}

.criteres {
    margin-top: 10px;
    margin-left: 10px;
}

.icone {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: #DEEBFF ;
    margin-left: 0px;
    size: 20px;
    color:#0065FC;
    margin-top: 0px;
    
}

#bill {
    margin-left: 25%;
}

#child {
    margin-left: 35%;
}

#heart {
    margin-left: 30%;
}

#dog {
    margin-left: 30%;
}

#filter {
    margin-top: 10px;
}

.accomodations {
    padding-left: 20px;
    margin-right: 30px;
    margin-top: 30px;
    padding-top: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 60%;
}

.title{
    margin-left: 20px;
    font-weight: bolder;
}

.appart_photo {
    width: 200px;
    height: 200px;
    margin: 2px;
    padding: 20px;
    border-radius: 20px;
}



.apparts{
    border-radius: 20px;
}

.describe {
    background-color: white;
    
}

.choice {
    display:flex;
    flex-wrap: wrap-reverse;
}
 .more{
     padding-bottom: 20px;
     padding-left: 20px;
     font-weight: bolder;
 }

 .rated {
    margin-top: 30px;
    padding-top: 30px; 
    padding-left: 20px;
    margin-right: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 100%;
 }

 .popular {
    width: 40px;
    height: 40px; 
 }

 .apparts {
     border: 3px solid black;
 }

 .apparts img {
     border-top-left-radius: 25px; 
     border-top-right-radius: 25px;
 }

 .activities {
    margin-left: 25px; 
    margin-top: 30px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
 }

.vieuxport {
    margin-right: 20px;
     width: 230px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     grid-row-start: 1;
 }

 .pomegues {
    margin-right: 20px;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.frioul {
    margin-right: 20px;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-column-start: 2;
    grid-row-start: 2;
}

.calanques {
    margin-right: 20px;
    width: 230px;
    height: 2fr;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-row-start: 1;
    
}

.notredame {
    margin-right: 20px;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

.longchamp {
    margin-right: 20px;
    width: 230px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    grid-column-start: 4;
    grid-row-start: 2;
}

.listactivites {
    
    height: 150px;
}
 
 footer {
     padding-left: 20px;
     padding-bottom: 25px;
     margin-top: 30px;
     display: flex;
     background-color: #F2F2F2;
 }

 h4 {
     font-size: bolder;
 }

 .about {
     margin-left: 25px;
 }

 .ourhouses {
    margin-left: 20%;
 }

 .assistance {
    margin-left: 20%;
 }